<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informations d'identification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>NOM:TELOU</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>PRENOM:Aklesso</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-subtitle>Email: likymona@gmail.com</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
     <ion-card-subtitle>Matricule: CM-UDS-22SCI1827</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>